@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
}

/* Estilos del index */
.descriptionMain{
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: 80px;
}

.descriptionContainer{
    color: white;
    width: 50%;
    height: 100%;
    padding-top: 30px;
    margin-left: 15%;
}

.descriptionContainer h2{
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
}

.descriptionContainer p{
    margin-top: 25px;
    width: 70%;
}

.mainContainer{
    margin-top: 80px;
}

.mainContainer h1{
    text-align: center;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 30%;
    margin: 40px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px #000000;   
}

.priceText{
    font-size: 1.2em;
    font-weight: bold;
}

.price{
    font-size: 1.5em;
    font-weight: 700;
    color: orange;
}

.btn{
    margin-top: 10px;
    margin-left: 50px;
}

.fa-circle-check{
    margin-right: 10px;
}


/* Estilos del carrito */

.table{
    margin-top: 80px;
}

/* Responsive */

@media screen and (max-width: 991px) {
   .card{
    width: 70%;
   }
}

@media screen and (max-width: 768px) {
    .card{
     width: 100%;
     text-align: center;
    }

    .card img{
        width: 50%;
    }
 }